<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="/layout/layout">
	<head>
		<title th:text="#{admin.user.view.title(${user.name})}">Account Details for John Doe</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{admin.user.view.title(${user.name})}">Account Details for John Doe</h1>
			<div th:substituteby="fragments/viewUser :: user_details"></div>
			Roles:
			<ul th:unless="${#sets.isEmpty(user.roles)}">
				<li th:each="role : ${user.roles}" th:text="${role.name}">ADMIN</li>
			</ul>
		</div>
	</body>
</html>
