<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="#{layout.title}">Stickify</title>
		<script src="../../../static/javascript/jquery/jquery-1.7.2.min.js" type="text/javascript" th:src="@{/static/javascript/jquery/jquery-1.7.2.min.js}"></script>
		<script type="text/javascript" src="../../../static/css/bootstrap/js/bootstrap.min.js" th:src="@{/static/css/bootstrap/js/bootstrap.min.js}"></script>
		<link rel="stylesheet" href="../../../static/css/bootstrap/css/bootstrap.min.css" th:href="@{/static/css/bootstrap/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="../../../static/css/stickify.css" th:href="@{/static/css/stickify.css}" />
	</head>
	<body>
		<div>
			<div class="navbar navbar-fixed-top">
		    	<div class="navbar-inner">
		        	<div class="container">
		         		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
				            <span class="icon-bar"></span>
		         		</a>
		          		<a class="brand" href="/" th:text="#{navbar.projectname}" th:href="@{/}">Stickify</a>
		          		<div class="nav-collapse">
		            		<ul class="nav">
		              			<li><a href="#" th:text="#{navbar.about}" th:href="@{/}">About</a></li>
		              			<li><a href="#" th:text="#{navbar.contact}" th:href="@{/}">Contact</a></li>
		            		</ul>
		        		</div>
		      		</div>
		    	</div>
		    </div>
			
			<div th:class="${#strings.isEmpty(flashMessageType)}? 'alert fade in alert-info' : 'alert fade in ' + ${flashMessageType}" th:unless="${#strings.isEmpty(flashMessage)}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<span th:text="${flashMessage}">Flash message!</span>
			</div>
			
			<div layout:fragment="content"></div>
			<div id="footer" th:text="#{layout.copyright}">Copyright 2012 Stickify</div>
		</div>
	</body>
</html>
