<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="/layout/layout">
	<head>
		<title th:text="#{account.changepassword.title}">Change Password</title>
	</head>
	<body>
		<div layout:fragment="content">
			<h1 th:text="#{account.changepassword.title}">Change Password</h1>
			<form action="#" th:action="@{/account/savepassword}" th:object="${user}" method="post">
				
				<ul th:if="${#fields.hasErrors('*')}" class="errorlist">
            		<li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          		</ul>

				<div>
		        	<label for="password" th:text="#{user.form.newPassword}">New password</label>
		            <input type="password" th:field="*{password}" th:class="${#fields.hasErrors('password')}? 'fieldError'" />
		        </div>
		        <div>
		        	<label for="confirmPassword" th:text="#{user.form.confirmNewPassword}">Confirm new password</label>
		            <input type="password" name="confirmPassword" th:class="${#fields.hasErrors('password')}? 'fieldError'" />
		        </div>
				<div>
           	 		<button type="submit" name="save" th:text="#{admin.user.edit.form.submitButton}">Save</button>    
          		</div>
			</form>
		</div>
	</body>
</html>
